<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Benify</h1>
      </div>
    </div>
  </div>
  <div class="board">
    <div class="board-bar">
      <h2 class="board-name">Kanban Board</h2>
    </div>
    <div>
      <button class="button-class" mat-raised-button color="primary" (click)="openDialog()">
        New Task
      </button>

    </div>
    <div class="board-wrapper">
      <div class="board-columns">
        <div class="board-column">
          <div class="column-title">To Do</div>
          <mat-card *ngFor="let card of todoList$ | async" class="task" mat-button>
            {{ card.text }}
            <mat-card-actions>
              <button class="btn-implement" mat-raised-button
                (click)="moveToImplementing(card.id)">Implementing</button>
              <button class="btn-done" mat-raised-button (click)="moveToDone(card.id)">Done</button>
              <button class="btn-delete" mat-raised-button (click)="deleteItem(card.id)">Delete</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="board-column">
          <div class="column-title">Implementing</div>
          <mat-card *ngFor="let card of doingList$ | async" class="task" mat-button>
            {{ card.text }}
            <mat-card-actions>
              <button mat-raised-button (click)="moveToDone(card.id)">Done</button>
              <button mat-raised-button (click)="moveToTodo(card.id)">To Do</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="board-column">
          <div class="column-title">Done</div>
          <mat-card *ngFor="let card of doneList$ | async" class="task" mat-button>
            {{ card.text }}
            <mat-card-actions>
              <button mat-raised-button (click)="moveToTodo(card.id)">To Do</button>
              <button mat-raised-button (click)="moveToImplementing(card.id)">To Doing</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>