.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-name {
  font-size: 28px;
  font-family: 'Georgia', serif;
  font-weight: bold;
}

.has-gradient-text {
  background: -webkit-linear-gradient(#e5610f, #e5c71d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 800px;
}

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;

  .board-bar {
    background: rgba(rgb(175, 77, 77), 0.5);
    padding: 8px 15px;

    .board-name {
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
  }

  .board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;

    .board-columns {
      display: flex;
      flex-grow: 1;

      .board-column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        min-width: 300px;
        margin: 50px;
        padding: 25px;
        border-radius: 4px;
        background: rgba(white, 0.5);

        &:not(:first-child) {
          margin-left: 0;
        }

        .column-title {
          font-size: 20px;
          font-weight: 800;
          font-family: 'Georgia', serif;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.task {
  display: flex;
  padding: 15px 12px;
  background: #FFFFFF;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
    0 3px 14px 2px rgba(0, 0, 0, 0.05);
}

//for material components
mat-card {
  margin: 0.4rem;
  min-width: 20rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #3f51b5;
  --mdc-protected-button-label-text-color: #FFFFFF;
  --mat-protected-button-state-layer-color: #FFFFFF;
  --mat-protected-button-ripple-color: rgba(255, 255, 255, .1)
}

.button-class {
  margin-top: 10px;
  margin-left: 10px;
}

.btn-done .btn-delete {
  margin-left: 30px;
}